<div class="jumbotron img-rounded" style="margin-top:30px; background-image: url(/images/roadster-social.jpg); background-size: cover;
  background-position: center; height: 55vh;">
    <h1 class="text-center" style="color: #607D8B;">Welcome to Vehicle Catalog</h1>
    <hr />
    
</div>
    <div class="row ">
        <div class="col-lg-6" style="color:whitesmoke;">
            <div class="jumbotron" style="background-color: darkcyan;">
                
                <h2 style="color: #ffffff;">Manufacturer Admin View</h2>
                
                <hr/>
                <p class="h5">Manufacturers admin view ..............</p>
                <hr/>
                <a class="btn btn-lg btn-block btn-success" asp-controller="Make" asp-action="Index">Visit Manufacturers page</a>
            </div>
        </div>
        <div class="col-lg-6" style="color:whitesmoke;">
            <div class="jumbotron" style="background-color: darkgreen;">
                <h2>Manufacturer Model Admin View</h2>
                <hr />
                <p class="h5">Manufacturer Model admin view ..............</p>
                <hr/>
                <a class="btn btn-lg btn-block btn-info" asp-controller="Model" asp-action="Index">Visit Manufacturer Models page</a>
            </div>
        </div>
    </div>