@model VehicleCatalog.Models.VehicleMakeVM

<div class="container " style="margin-top: 20px;">
    <div class="jumbotron img-rounded" style="border:solid 1px; border-color: darkblue; ">
        <h4 style="color:dodgerblue;">Create New Manufacturer</h4>
        <form asp-action="Create" method="post" id="addMakeForm">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abrv"></label>
                <input asp-for="Abrv" class="form-control" />
                <span asp-validation-for="Abrv" class="text-danger"></span>
            </div>
            <button type="submit" id="submitModelBtn" class="btn btn-info">Create</button>
        </form>
    </div>
</div>
