@model VehicleCatalog.Models.MakeView.MakeDetailModel

<h1>Detail View of @Model.MakeDetail.Name (@Model.MakeDetail.Abrv)</h1>

<table class="table table-hover" id="makeIndexTable">
    <tbody>
        @foreach (var m in Model.ModelList)
        {
            <tr>
                <td>
                    @m.Name
                </td>
                <td>
                    @m.Abrv
                </td>
            </tr>
        }
    </tbody>
</table>